.App .Cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
}
body{
    background-color: #1a1a1a;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7KcyZsiNZTYPlOO26R3dZVXrPwrXux5m4SA&usqp=CAU);
}